.footer {
    background: #90ccf4;
    padding: 1rem 0;
    color: white;
}

.footer li {
    display: inline-block;
    margin: 1rem 2rem;
    margin-top: 2rem;
}

.footer img {
    width: 40px;
}

.footer p {
    font-size: 14pt;
    margin: 0;
}