.project h1 {
    color: red;
}

.project img {
    width: 100%;
    height: 25rem;
}

.description {
    text-align: center;
    padding: 0 2rem;
}
.btn-default {
    width: 50%;
    border: none;
    border-radius: 0;
    font-size: 15pt;
}

.project p {
    height: 14rem;
    font-size: 13pt;
}

.project h2 {
    font-size: 20pt;
    height: 6rem;
}
